<h2>Lista de Postagens</h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova Postagem</button></a>

{{#each postagens}}
    <div class="card mt-3">
        <div class="card-body">
            
             <div class="d-flex justify-content-between align-items-center">
                <h4>{{titulo}}</h4>
                <small><strong>Categoria: </strong>{{categoria.nome}}</small>
             </div>
            

            <div class="d-flex gap-2 align-items-center">
                <strong>Descrição:</strong>
                <span>{{descricao}}</span>
            </div>

             
            <strong class="mt-3">Conteúdo:</strong>
            <div><span>{{conteudo}}</span></div>
            

             <div class="d-flex justify-content-between align-items-center mt-2">
                <div>
                    <small><strong>Data: </strong>{{data}}</small><br>
                </div>               

                <div>
                    <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success">Editar</button></a>
                    <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger">Deletar</button></a>
                </div>
                
             </div>
            
            
        </div>
    </div>

{{else}}

    <p>Nenhuma postagem registrada</p>

{{/each}}