<h2>Postagens recentes sobre {{categoria.nome}}</h2>

{{#each postagens}}

    <div class="card mt-4">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}"><button class="btn btn-outline-info btn-sm">Saiba Mais</button></a>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <small><strong>Data de publicação:</strong> {{data}}</small>
            </div>
        </div>
    </div>

{{else}}

    <h5>Nenhuma postagem</h5>

{{/each}}